<div id="message_center">
   

    <div id="message_board">
 
    <h1>Search Results </h1>

     <%= render :partial => "admin/messages/messages_search" %>
     
        <table >
            <tr class="section_heading">
                       <td class="cat_heading_name">Topic</td><td class="posted_heading_by" >POSTED BY</td><td class="cat_heading_replies">REPLIES</td><td class="cat_heading_date">DATE POSTED</td>
            </tr>
            <% for message in @messages %>
                <tr>
                    <td class="cat_name"><%= link_to message.topic[0..50] , admin_replies_list_path(message.id) %></td><td class="posted_by"><%=message.user.login.capitalize %></td><td class="cat_replies"><%= link_to(message.comments.size.to_s, admin_replies_list_path(message.id))%></td><td class="cat_date"> <%= show_time(message.created_at) %></td>
                </tr>
            <% end %>
        </table>
   </div>

</div>

