<%= stylesheet_link_tag 'main' %>

<div id="help_content">
	<ul class="help_contents" id="help_contents">
		<li><%=link_to("How Do I Get Paid?", "#get_paid", :class => 'help_contents_link')%></li>
		<li><%= link_to("Video File Restrictions", "#video_restrictions", :class => 'help_contents_link')%></li>
		<li><%= link_to("Why Should I Tag My Videos/Podcasts?", "#why_tag", :class => 'help_contents_link')%></li>
		<li><%= link_to("Tagging Best Practices & FAQs", "#tagging_best_practices", :class => 'help_contents_link')%></li>
		<li><%= link_to("Video/Podcast Category Descriptions", "#category_descriptions", :class => 'help_contents_link')%></li>
		<li><%= link_to("Dirty Knows: Inappropriate Content", "#dirty_knows", :class => 'help_contents_link')%></li>
	</ul>

<div class="section">
	<a name="get_paid" class="help_contents_link">
		<h2>How Do I Get Paid?</h2>
	</a>
    <center>
      <img alt="Revenue_graph" src=
      "/images/revenue_graph.png" />
    </center>

    <ul  class="upload_popup_links">
      <li>Publish a video or podcast and we'll pay you 50% of
      the ad revenue generated per view of that
      video/podcast!</li>

      <li>If a student shares content on their favorite
      websites, blogs, or social networks, the original
      publisher gets 40%, and the sharer gets 20% of ad revenue
      generated per view of the video/podcast!</li>

      <li>Also, well donate 5% of all revenue to educational
      charities.</li>
    </ul>
</div>

<div class="section">
	<a name="video_restrictions" class="help_contents_link">
		<h2>Video File Restrictions</h2>
	</a>
	
	<p>
		<h3>Accepted Formats</h3>
		We can accept MS Video (WMV and AVI), MPG, DivX, and Quicktime (mov) video files.
	
		<h3>Filesize Restrictions</h3>
		You may upload files up to 100MB in size. <br/>
	</p>
	
	<%= link_to("Back to Top",'#help_contents', :class => 'back_to_top')%>
</p>

<div class="section">
	<a name="why_tag" class="help_contents_link">
		<h2>Why Should I Tag My Videos/Podcasts?</h2>
	</a>
	
	<p>
		A well formulated tagging strategy is absolutely paramount to the success of your videos and podcasts.  Tagging is simply putting an appropriate description (“tags”) for your content such as the subject, professor, book name and so forth. Tagging enables more people to find your content quickly and easily.  The more people that can find your content, the more likely you are to increase your earnings, so be very deliberate in tagging your content.
	</p>

	<p>
		We built StudentsKnow.com for users to search using two different paths: a category system and a tag-based system.  Category browsing involves search results being displayed by clicking on a category then content is displayed according to its popularity and activity within the community (Top Rated, Most Viewed, and Most Discussed).  This means, that when a user is searching by category, the current best performing content rises to the top.  However, if a user is browsing by tags, accurate tagging allows your content to display based on how well you’ve set up your tags.  If you can come up with an accurate tagging system which helps people find exactly what they’re looking for – your video or podcast – then more people view your content and you make more money!   
	</p>
	<%= link_to("Back to Top",'#help_contents', :class => 'back_to_top')%>
</div>


<div class="section">
	<a name="tagging_best_practices" class="help_contents_link">
		<h2>Tagging Best Practices</h2>
	</a>
	
	<p>
		Tag precisely; try to keep the big picture in mind.  Try to dissect your content and be realistic about what it does or does not cover well.  If you over-tag content you run the risk of your content showing up in irrelevant searches and this may affect the rating of your content from your peers and actually lower your viewings instead of increasing them – remember StudentsKnow.com is about learning not cheating.    
	</p>
	
	Here are a few examples for tag fields:
	<ul>
		<li>
			<b>Class Number</b> is the abbreviation and number assigned to your class by your university (you most likely used this number to register for the class).  These are normally school specific and is what your class is referred to in the official directory for course schedules.<br/>
			<ul><li>Examples: BIO-101, CH-101, SCI101, RHE101</li></ul>
		</li>
		<li>
			<b>Class Name</b> is the name assigned to your class, as provided by your university. <br/>
			<ul><li>Examples: Organic Chemistry I, Cellular Biology, Human Anatomy, British Literature, American History</li></ul>
		</li>
		<li>
			<b>Professor</b> is the name of the professor that teaches the class you’re creating content for.  This tag will enable classmates to find your content.  If no professor is related to content, just leave blank. Please omit the word “professor”, but use Dr. as necessary.
			<ul><li>Examples: Dr. Adrian Fitzwilder, Eugene Hornswogle, Jr., Sir Bartholomew Andrews</li></ul>
		</li>
		<li>
			<b>Topic</b> is the overall short descriptor for your content.  If you had to sum up this content in one word or a concise phrase, how would you describe it?  
			<ul><li>Examples: Confidence Intervals, Scientific Notation, Romeo and Juliet Symbolism, Of Mice and Men Synopsis</li></ul>
		</li>
		<li>
			<b>Book Title</b> is the name of the book that most closely relates to your content.  For instance, it can be the name of a textbook purchased for your class or a book which you are currently reviewing or summarizing.
			<ul><li>Examples: The Grapes of Wrath, Advertising & Integrated Brand Promotion, Introduction to Paleontology: A Study of Ancient Dead Things</li></ul>
		</li>
		<li>
			<b>Book Author</b> is the name of who wrote the book, play or textbook.
			<ul><li>Examples: Sir Arthur Conan Doyle, William Shakespeare</li></ul>
		</li>
		<li>
			<b>Chapter</b> is the chapter number which your content is most closely related to, if content is pulled from a textbook, novel or play.
			<ul><li>Examples: Chapter 1, Act 2 Chapter 3</li></ul>
		</li>
		<li>
			<b>ISBN</b> is the 10-digit International Standard Book Number found on any book sold for commercial purposes.  You’ll find it on the back of your book just above the barcode, or in the first few pages, listed with the copyright date.
			<ul><li>Examples: 0-8021-3523-4</li></ul>
		</li>
		<li>
			<b>Additional Tags</b> is where you can enter multiple tags to cover unusual terms, nicknames for your content, or even groups you have created.  
			<ul><li>Examples: O-Chem, Paul Study Group, Lecture Dates: 02/10/2008</li></ul>
		</li>
	</ul>
		<%= link_to("Back to Top",'#help_contents', :class => 'back_to_top')%>
</div>


<div class="section">
	<a name="category_descriptions" class="help_contents_link">
		<h2>Video/Podcast Category Descriptions</h2>
	</a>
	<p>
		The following descriptions are not all-inclusive.  We’ve provided a sample of subjects to give you a feel for the categories.  If you feel your video falls in a grey area, just make a choice and remember you can always change the category later and that tagging correctly will also help users find your content. 
	</p>
	<ul>
		<li>
			<b>Language and Literature</b>
			<ul><li>Includes, but is not limited to: Rhetoric/Writing, Literature, Linguistics, Foreign Languages</li></ul>
		</li>

		<li>
			<b>Business and Economics</b>
			<ul><li>Includes, but is not limited to: Accounting, Finance, Management, Marketing, Economics</li></ul>
		</li>

		<li>
			<b>Math</b>
			<ul><li>Includes, but is not limited to: Architecture, Engineering, Mathematics, Statistics</li></ul>
		</li>

		<li>
			<b>Sciences</b>
			<ul><li>Includes, but is not limited to: Biology, Chemistry, Astronomy, Computer Sciences, Physics, Pharmacy, Nursing, Management Information Systems, Kinesiology, Geology, Geography.</li></ul>
		</li>

		<li>
			<b>Social and Behavioral Studies</b>
			<ul><li>Includes, but is not limited to: Anthropology, Law, Criminal Justice, Cultural Studies , Government, History, Sociology, Social Work, Education, Philosophy, Psychology, Religion.</li></ul>
		</li>
				

		<li>
			<b>Communications and Arts</b>
			<ul><li>Includes, but is not limited to: Advertising, Public Relations, Radio/Television/Film, Journalism, Art/Art History, Music, Theatre/Dance, Performance Arts</li></ul>
		</li>

		<li>
			<b>Evaluation Tests</b>
			<ul><li>Includes, but is not limited to: LSAT, GRE, MCAT, DAT, PSAT, GMAT</li></ul>
		</li>
		
		<li>
			<b>Career Services</b>
			<ul><li>Includes, but is not limited to: Interviewing Skills, Resume Best Practices, Cover Letters, Professional Attire.</li></ul>
		</li>
	</ul>
	<%= link_to("Back to Top",'#help_contents', :class => 'back_to_top')%>
</div>


<div class="section">
	<a name="dirty_knows" class="help_contents_link">
		<h2>Dirty Knows: Inappropriate Content</h2>
	</a>
	<p>
		StudentsKnow.com is a community regulated environment.  If you post inappropriate content, it will be flagged as a “Dirty Know” by your peers and reviewed by the StudentsKnow.com staff.  Any content deemed “inappropriate” as detailed in our <%= link_to("Terms&nbsp;&amp;&nbsp;Conditions", terms_path, :target => "_blank")%> will be removed immediately from StudentsKnow.com. Depending upon the infraction you may be removed from StudentsKnow.com and barred from any future postings and forfeit any income accrued.  If you feel your content has been removed from our site in error, please send inquiries to <%= mail_to("dirtyknows@studentsknow.com", "dirtyknows@studentsknow.com")%>. 
	</p>
	<%= link_to("Back to Top",'#help_contents', :class => 'back_to_top')%>
</div>



</div>