<div id="login_form" style='float:left; width: 400px;'>
	<% form_tag session_path do -%>

	    <h1>Login</h1>
	    <label for="login">Login:</label>
	    <%= text_field_tag('login', nil, :size => 20 )%>


	    <label for="password">Password:</label>
	    <%= password_field_tag( 'password', nil, :size => 20) %>



	    <!-- Uncomment this if you want this functionality  -->
	    <p><label for="remember_me">Remember me:</label>
	    <%= check_box_tag 'remember_me' %></p> 
	    <div style="clear:both"></div>
	      <%= submit_tag 'Log in', {:class => 'submit'}  %>

	<% end -%>
	<br/><br/>
	<center><%= link_to("Forgot Username or Password?", forgot_password_url)%></center>
	<div style="clear:both;"><!-- --></div>
</div>
	


<div id="signup_form" style='float:left; width: 400px;'>
    <% form_for :user, :url => new_account_path do |f| -%>
            <h1>Sign up</h1>
            <%= error_messages_for :user %>
            <%= render :partial => 'account/form', :locals=>{:f => f} %>

            <%= submit_tag 'Sign up',{:class => 'submit', :id => 'submit_button', :disabled => true}%>
    <% end -%>
<div style="clear:both;"><!-- --></div>
</div>