<h1>Edit <%= h @ad.name %></h1>

<%= error_messages_for :ad %>

<% form_for @ad, :url => admin_adbackend_ad_path(:adbackend_id => @adbackend.id) do |@f| %>
    <%= render :partial => "form" %>
    <%= @f.submit "Update" %>
    <%= link_to("Cancel", admin_adbackend_ad_path(:adbackend_id => @adbackend.id, :id => @ad.id) )%>
<% end %>